<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Gaming Website</title>
        <link href = "./templates/styles.css" rel = "stylesheet" type = "text/css"/>
    </head>

    <body>

        <div class = "NavPanel">
            <nav>
                <ul>
                    <li><a href = "./">Home Page</a></li>
                    <li><a href = "./about">About Us</a></li>
                    <li><a href = "./store">Store</a></li>
                    <li><a href = "./settings">Settings</a></li>
                </ul>
            </nav>        
        </div>

        <div class = "mainContainer">            
            <div class = "Header">            
                <h2>Gaming Website</h2>                            
            </div>

            <div class = "MainBody">
                <h3>Store</h3>
            </div>
        </div>

    </body>
</html>